#pragma code_page(65001)
#include <windows.h>
LANGUAGE 9, 1
STRINGTABLE
BEGIN
    400 "Bad request"
    401 "User authentication required"
    402 "Not currently implemented in the HTTP"
    403 "Server forbidden"
    404 "URI not found"
    405 "Bad method"
    406 "No responses acceptable to the client"
    407 "Proxy authentication required"
    408 "Request timeout"
    409 "Conflict with the current state of the resource"
    410 "No longer available at the server"
    411 "Without a defined content length"
    412 "The precondition failed"
    413 "Request too large"
    414 "URI too long"
    415 "Unsupported media"
    449 "Retry with"
    500 "Server error"
    501 "Server does not support"
    502 "Bad gateway"
    503 "The service is overloaded"
    504 "Gateway timeout"
    505 "HTTP version not support"
    32000 "Lyrics Server (China Net)"
    32001 "Lyrics Server (CNC)"
    32002 "http://ttlrcct.qianqian.com/dll/lyricsvr.dll"
    32003 "http://ttlrccnc.qianqian.com/dll/lyricsvr.dll"
    32004 "Connect to server failed"
    32005 "Receive invalid data from server"
    32006 "Lyrics server is not started"
    32007 "Lyrics server is maintaining"
    32008 "Lyrics server is temporarily closed"
    32009 "Database error on server"
    32010 "Can not find the lyrics"
    32011 "Application version is too old"
    32020 "Unknown error when downloading"
END
LANGUAGE 4, 2
STRINGTABLE
BEGIN
    400 "错误的请求"
    401 "服务器需要身份验证"
    402 "未实现的HTTP请求"
    403 "禁止访问,连接的用户过多"
    404 "未能找到该文件"
    405 "错误的方法"
    406 "没有可接受的响应"
    407 "代理需要身份验证"
    408 "请求超时"
    409 "访问冲突"
    410 "文件已不存在"
    411 "需要内容的长度"
    412 "预处理失败"
    413 "请求太长"
    414 "请求的URI太长"
    415 "不支持该媒体格式"
    449 "请重次"
    500 "服务器内部错误"
    501 "服务器不支持"
    502 "错误的网关"
    503 "服务器超负荷"
    504 "网关超时"
    505 "HTTP版本不支持"
    32000 "歌词服务器(电信)"
    32001 "歌词服务器(网通)"
    32002 "http://ttlrcct.qianqian.com/dll/lyricsvr.dll"
    32003 "http://ttlrccnc.qianqian.com/dll/lyricsvr.dll"
    32004 "连接服务器失败"
    32005 "服务器返回无效数据"
    32006 "歌词服务尚未重启"
    32007 "歌词服务正在重启"
    32008 "歌词服务暂时关闭"
    32009 "服务器数据库出错"
    32010 "未能在服务器上找到歌词"
    32011 "程序版本过低,请到主页下载新版本"
    32020 "下载时发生未知错误"
END
